h1 {

    color:blue;
    text-align:center;
    font-weight: 400;
    font-size: 125px;
    font-family: 'Courier New', Courier, monospace;

}

h2{

    color:rgb(55, 31, 77);
    text-align: center;
    font-weight: 1000;
    text-decoration: rgb(76, 50, 54) underline;
}

h3{

    text-decoration: rgb(76, 39, 46) underline;
    text-align: center;
    font-weight: 1000;
}

p{
    color: rgb(20, 114, 157);
   line-height: 1.5;
   letter-spacing: 0.3ex;
    font-weight: 1000;
}