    /*Universal Selector it selectes everything*/
    /* *{

        color:black;
        background-color: lightgreen;

    } */

    /*I changed the Background color of my website with the selector body*/
    body{

        background-color:lightgreen;
    }
    /*My element selector is button and I changed the size font of all the buttons in my webiste*/
    button{

        font-size: 30px;
    }
    /*I have multiple selectors in line 21 which allows me to changed my headers color*/
    h1,h2 {
        color: rgb(0, 0, 0);
    }

    /*the pound sign represnts the ID*/
    #Signup {

        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

    /*This is a class selector that looks for everything that has tag in my html file */
    .tag{

        color:darkgreen;

    }
/*The element I choose for in this class is going to be manipulated*/
.post a{

    color: black;
    }   
/*Descendent selector with a anchor tag that is inside the footer */
    footer > a {

        color:black;
}

/*Attribute selector where I call the input element and selct the attribute type= */
input[type="password"]{

    color:green;

}
input[type="text"]{

    color:rgb(87, 168, 253);

}
/*a specifies the anchor tag and href is the attribute this specifies the characters Im looking for in the href string value the *= anything that has the word google in it */
a[href*="google"]{
    color:darkcyan;

}
/*I have pseudo classes for each of the objects. Everytime I hover over the button its going to be black, the css selector is going to chnage all the buttons*/
button:hover {

    background-color: black;
    color:rgb(255, 255, 255)
}
/*I called the class post in the css file so all the buttons inside the post will be active but you have to call the button elements and then I gave it the pseudo class and put the css rules inside the {}*/
.post button:active {

background-color: blueviolet;

}
/*Im using a pseudo element but before i use it i called the h2 element and used :: as the pseudo element and this makes every h2 tag change the first lettersd font */
h2::first-letter {

    font-size: 50px;
}
/*I used the pseudo elemnt which makes the first line of my <p> element is green */
p::first-line {

    color:rgb(255, 255, 255);
}
