    /*Universal Selector it selectes everything*/
    /* *{

        color:black;
        background-color: lightgreen;

    } */

    /*I changed the Background color of my website with the selector body*/
    body{

        background-color:lightgreen;
    }
    /*My element selector is button and I changed the size font of all the buttons in my webiste*/
    button{

        font-size: 30px;
    }
    /*I have multiple selectors in line 21 which allows me to changed my headers color*/
    h1,h2 {
        color: rgb(0, 0, 0);
    }

    /*the pound sign represnts the ID*/
    #Signup {

        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

    /*This is a class selector that looks for everything that has tag in my html file */
    .tag{

        color:darkgreen;

    }
/*The element I choose for in this class is going to be manipulated*/
.post a{

    color: black;
    }   
/*Descendent selector with a anchor tag that is inside the footer */
    footer > a {

        color:black;
}

/*Attribute selector where I call the input element and selct the attribute type= */
input[type="password"]{

    color:green;

}
input[type="text"]{

    color:rgb(87, 168, 253);

}
/**/
a[href*="google"]{
    color:darkcyan;

}
/**/
button:hover {

    background-color: black;
    color:rgb(255, 255, 255)
}
/**/
.post button:active {

background-color: blueviolet;

}
/**/
h2::first-letter {

    font-size: 50px;
}
/**/
p::first-line {

    color:rgb(255, 255, 255);
}
